:root {
  --primary-color: rgb(20, 20, 20);
  --second-color: rgb(194, 28, 28);
  --second-light-color: rgb(243, 8, 8);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --light-gray-color: rgb(240, 240, 240);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--white-color);
}

body {
  background: var(--black-color);
  color: var(--white-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
}
