footer {
  text-align: center;
  padding: 1rem;
}

footer a {
  display: none;
  font-size: 1.5rem;
  padding: 0.3rem 0.6rem;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  border: 2px solid var(--white-color);
  transition: background 1s ease, color 1s ease;
}

footer a:hover {
  background: var(--white-color);
  color: var(--black-color);
}

footer a:focus {
  transform: scale(0.95);
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  footer a {
    display: block;
  }
}
@media (min-width: 992px) {
  footer a {
    bottom: 1rem;
    right: 1rem;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
