.kapcsolat {
  padding: 2rem 1rem;
  margin-top: 5rem;
}

.kapcsolat h2 {
  font-style: italic;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 576px;
  margin: 2rem auto;
}

.form input,
.form textarea {
  border: none;
  outline: none;
  padding: 1rem;
  margin: 0.5rem 0;
}

.form textarea {
  height: 10rem;
}

.form input:focus,
.form textarea:focus {
  outline: 2px solid var(--second-color);
  background: var(--light-gray-color);
}

.form input[type="submit"] {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.4s ease;
  background-color: var(--second-color);
  color: var(--white-color);
}

.form input[type="submit"]:hover {
  background-color: var(--second-light-color);
}

.form input[type="submit"]:focus {
  outline: none;
  transform: scale(0.95);
}

.social {
  display: flex;
  justify-content: center;
}

.social-elem {
  margin: 1rem;
}

.social-elem a {
  font-size: 1.5rem;
  padding: 1rem;
  transition: 0.5s all ease;
  display: block;
}

.social-elem a:hover {
  color: var(--second-color);
  transform: scale(1.5);
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .form input[type="submit"] {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .kapcsolat h2 {
    letter-spacing: 0.4rem;
    font-size: 3rem;
  }

  .form input,
  .form textarea {
    font-size: 1.2rem;
  }

  .form input[type="submit"] {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }

  .social-elem a {
    font-size: 2rem;
    margin: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .form {
    max-width: 768px;
  }
}
@media (min-width: 1400px) {
}
